<div class="users">
  <div class="row">
    <div class="span3">
      <b>GitHub Username Search: </b>
      {{view Ember.TextField placeholder="GitHub username" valueBinding="search" action="query"}}
      <button {{action "query"}}>Search</button>

      <table class="table">
        <thead>
          <tr><th>Users</th></tr>
        </thead>

        {{#each model}}
        <tr><td>
          {{#linkTo 'user' this}}{{name}}{{/linkTo}}
        </tr></td>
        {{/each}}
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>
